<h1><%= @restaurant.name %></h1>

<div>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.category %></p>
  <p><%= @restaurant.phone_number %></p>
</div>
<p><%= link_to "List", restaurants_path %></p>

